
body {
  background: #e0f2e9;
  font-family: Arial, sans-serif;
  text-align: center;
}
.login-box, .painel {
  margin: 100px auto;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.logo {
  width: 100px;
}
