
body { font-family: Arial; margin: 0; padding: 0; background: #f9f9f9; }
#login-container, #app-container { padding: 20px; }
header { background: #2d572c; color: white; padding: 15px; }
nav button { margin: 5px; padding: 10px; font-weight: bold; background: #4CAF50; border: none; color: white; }
input { display: block; margin: 10px 0; padding: 10px; width: 200px; }
button { cursor: pointer; }
